.acss-theme-dark {
  color: #ccc;
}

.acss-theme-dark.acss-background-primary {
  background: #222;
}

.acss-theme-dark.acss-background-secondary {
  background: #333;
}

.acss-theme-dark.acss-background-tertiary {
  background: #444;
}

.acss-theme-dark.acss-header {
  color: #eee;
}

.acss-theme-cerulean.acss-button {
  background: #000;
  color: #ddd;
}

.acss-theme-dark.acss-footer {
  background: #424242;
  border-bottom: solid 5px #1e88e5;
}

.acss-theme-dark.acss-footer a {
  color: #1e88e5;
}