.acss-theme-light {
  color: #000;
}

.acss-theme-light.acss-background-primary {
  background: #fff;
}

.acss-theme-light.acss-background-secondary {
  background: #f2f2f2;
}

.acss-theme-light.acss-background-tertiary {
  background: #e0e0e0;
}

.acss-theme-light.acss-header {
  color: #eee;
}

.acss-theme-cerulean.acss-button {
  background: #ddd;
  color: #000;
}

.acss-theme-light.acss-footer {
  background: #bdbdbd;
  border-bottom: solid 5px #009688;
}

.acss-theme-light.acss-footer a {
  color: #333;
}
