.acss-theme-cerulean {
  color: #2EA4E7;
}

.acss-theme-cerulean.acss-background-primary {
  background: #fff;
}

.acss-theme-cerulean.acss-background-secondary {
  background: #f2f2f2;
}

.acss-theme-cerulean.acss-background-tertiary {
  background: #e0e0e0;
}

.acss-theme-cerulean.acss-header {
  color: #2EA4E7;
}

.acss-theme-cerulean.acss-button {
  background: #2EA4E7;
  color: #fff;
}

.acss-theme-cerulean.acss-footer {
  background: #ddd;
  border-bottom: solid 5px #1e88e5;
}

.acss-theme-cerulean.acss-footer a {
  color: #1e88e5;
}
